.right-box {
    height: 9vh;
    float: right;
    box-sizing: border-box;
    padding: 20px;
    border-bottom: 1px solid #adb5bd;
    width: 80%;
}
.logo {
    max-height: 50px;
    margin-right: 10px;
}
.input-box {
    height: 9vh;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 20px;
    border-top: 1px solid #adb5bd;
    width: 80%;
    position: absolute;
}

.chat-box {
    max-height: 75vh;
    position: relative;
    float: right;
    box-sizing: border-box;
    padding: 20px;
    width: 80%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

}
.container {
     padding: 8px;
     margin-bottom: 8px;
     border-radius: 8px;
     font-size: 14px;
     word-wrap: break-word;
    width: 95%;
}
.chat-box::-webkit-scrollbar {
    width: 8px;
}

.chat-box::-webkit-scrollbar-thumb {
    background-color: #888;
}

.chat-box::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}
.left {
    background-color: #D7DBDD;
    margin-left: 0;
}

.right {
    background-color: #85C1E9;
    margin-right: 0;
}


.body {
    overflow: hidden;
    margin: 0;
}